node_modules/
video/promo/still-*.png
video/promo/music.wav
video/moxito/audio.wav
video/moxito/still-*.png
video/registon/plate.mp4
video/registon/audio.wav
video/registon/still-*.png
video/registon/plate-*.png
